<!doctype html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/urembo.css' %}">
    <link rel="icon" href="{% static 'imgs/spngbob.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about us</title>
</head>
<body>
<h2>About Us</h2>
<p>A software development company</p>
<img src="{% static 'imgs/nick-F-rvSJl6qI0-unsplash.jpg' %}" alt="" width="600" height="600">
<img src="{% static 'imgs/them-snapshots-40U4YEffPgE-unsplash.jpg' %}" alt="" width="600" height="630" style="border-radius: 15px">
</body>
</html>